@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

*{
  box-sizing: border-box;
  font-family: 'Outfit', Arial, Helvetica, sans-serif;
}
html {
  margin: 0;
  padding: 0;
}
body{
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  position: relative;
  background-color: hsl(212, 45%, 89%);
}
@media (max-width: 375px){
  main {
    background-color: hsl(0, 0%, 100%);
    position: relative;
    width: calc(100% - 50px);
    margin-left: 25px;
    margin-top: 30px;
    border-radius: 20px;
    height: fit-content;
    padding-bottom: 20px;
  }
  #qr-code {
    width: calc(100% - 40px);
    margin: 20px;
    border-radius: 15px;
  }
  .description {
    width: calc(100% - 80px);
    margin: 0 auto 0 auto;
    text-align: center;
  }
  main h1 {
    font-size: 22px;
    color: hsl(218, 44%, 22%);
    font-weight: 700;
  }
  main p{
    font-size: 15px;
    color: hsl(220, 15%, 55%);
    font-weight: 400;
  }
}

main {
  background-color: hsl(0, 0%, 100%);
  position: relative;
  width: 375px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  border-radius: 20px;
  height: fit-content;
  padding-bottom: 20px;
  box-shadow: 0 0.5em 1em 0 hsl(0, 0%, 80%);
}
#qr-code {
  width: calc(100% - 50px);
  margin: 25px;
  border-radius: 15px;
}
.description {
  width: calc(100% - 80px);
  margin: 0 auto 0 auto;
  text-align: center;
}
main h1 {
  font-size: 25px;
  color: hsl(218, 44%, 22%);
  font-weight: 700;
}
main p{
  font-size: 18px;
  color: hsl(220, 15%, 55%);
  font-weight: 400;
}